<html>
  <head>
    <title>Comic Viewer - {{comicbook.name}}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <script src="/swipepage.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    {% if comicbook.filelist -%}
    <div data-role="page" data-prev="{{comicbook.get_prev_image() }}" data-next="{{comicbook.get_next_image() }}" data-prefetch data-fullscreen="true">
    {% endif -%}
    <div data-role="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/{{comicbook.name}}" class="ui-btn-active">{{comicbook.name}}</a></li>
      </ul>
    </div><!-- /navbar -->
    {% if comicbook.dirlist -%}
    <ul data-role="listview">
      {% for dir in comicbook.dirlist -%}
        <li><a href="/{{ comicbook.name }}/{{dir}}" data-prefetch><img src="/{{comicbook.name}}/{{dir}}/thumbnail">{{dir}}</a></li>
      {% endfor -%}
    </ul>
    {% elif comicbook.filelist -%}
    <div class="showpage" style="overflow-x:scroll;max-width=100%;max-height:100%">
      <a href="{{comicbook.get_next_image()}}" data-prefetch><img src="{{comicbook.get_image() }}" style="max-height:100%;-webkit-overflow-scrolling:touch"></a>
    </div>
    </div>
    {% else -%}
    <ul data-role="listview">
      <li>No comics/pages found :(</li>
    </ul>
    {% endif -%}
    {% if comicbook.filelist -%}
    </div>
    {% endif -%}
  </body>
</html>
