<html>
  <head>
    <title>Comic Viewer - {{comicbook.name}}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  </head>
  <body>
    <div data-role="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/{{comicbook.name}}" class="ui-btn-active">{{comicbook.name}}</a></li>
      </ul>
    </div><!-- /navbar -->
    {% if comicbook.dirlist -%}
    <ul data-role="listview">
      {% for dir in comicbook.dirlist -%}
        <li><a href="/{{ comicbook.path }}{{dir}}"><img src="/{{comicbook.path}}{{dir}}/thumbnail">{{dir}}</a></li>
      {% endfor -%}
    </ul>
    {% elif comicbook.filelist -%}
    <a href="{{comicbook.get_next_image() }}"><img src="{{comicbook.get_image() }}"></a>
    {% else -%}
    <ul data-role="listview">
      <li>No comics/pages found :(</li>
    </ul>
    {% endif -%}
  </body>
</html>
