<html>
  <head>
    <title>Comic Viewer</title>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div data-role="navbar">
      <ul>
        <li><a href="/" class="ui-btn-active">Home</a></li>
      </ul>
    </div><!-- /navbar -->
    {% if comics -%}
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Search comics..." data-autodividers="true">
      {% for comic in comics -%}
        <li><a href="/{{ comic }}"><img src="/{{comic}}/thumbnail">{{comic}}</a></li>
      {% endfor -%}
    {% else -%}
    <ul data-role="listview">
      <li>No comics found :(</li>
    {% endif -%}
    </ul>
  </body>
</html>
